{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Departments</h1>
    <div class="row">
        {% for department in departments %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ department.dept_name }}</h5>
                        <a href="{% url 'department_detail' department.pk %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not departments %}
        <div class="alert alert-info" role="alert">
            No departments available.
        </div>
    {% endif %}
</div>
{% endblock %}
