{% extends "base/base.html" %}
{% load static %}
{% block content %}
  <h1 class="text-center">{{ exam.university_name }}</h1>
  <p class="text-center">{{ exam.subject_name }}</p>
  <p class="text-center">{{ exam.department_name }}</p>
  <p class="text-center">{{ exam.semester_name }}</p>
  <p class="text-center">{{ exam.batch_number }}</p>
  <p class="text-center">{{ exam.course_code }}</p>
  <span style="text-align: left;">Total Time: {{ exam.time }}</span>
  <span style="text-align: right;margin-left: 80%;"> Total Marks: {{ exam.marks }}</span>
 
   <br>
   <br><table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th colspan="3" class="text-center">Group A</th>
      </tr>
      <tr>
        <th scope="row">{{ exam.q1_number }}: {{ exam.q1_description }}</th>
        <td></td>
        <td>{{ exam.q1_marks }}</td>
      </tr>
      <tr>
        <th scope="row">{{ exam.q2_number }}:{{ exam.q2_description }}</th>
        <td></td>
        <td>{{ exam.q2_marks }}</td>
      </tr>
      <tr>
        <th scope="row">{{ exam.q3_number }}: {{ exam.q3_description }}</th>
        <td></td>
        <td>{{ exam.q3_marks }}</td>
      </tr>
      <tr>
        <th colspan="3" class="text-center">Group B</th>
      </tr>
      <tr>
        <th scope="row">{{ exam.q4_number }}:{{ exam.q4_description }}</th>
        <td></td>
        <td>{{ exam.q4_marks }}</td>
      </tr>
      <tr>
        <th scope="row">{{ exam.q5_number }}:{{ exam.q5_description }}</th>
        <td></td>
        <td>{{ exam.q5_marks }}</td>
      </tr>
      <tr>
        <th colspan="3" class="text-center">Group C</th>
      </tr>
      <tr>
        <th scope="row">{{ exam.q6_number }}:{{ exam.q6_description }}</th>
        <td></td>
        <td>{{ exam.q6_marks }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="text-center">
    <a href="{% url 'generate_pdf' exam.id %}" class="btn btn-primary">Download as PDF</a>
  </div>
  
{% endblock %}
