{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Room {{ room.room_no }}</h1>
  
  <div class="row mb-3">
    <div class="col-md-6">
      <h5>Number of Seats</h5>
      <p>{{ room.number_of_seats }}</p>
    </div>
  </div>

  <h2 class="mt-4">Columns</h2>
  {% for column in room.column_set.all %}
    <div class="row mb-3">
      <div class="col-md-4">
        <h5>Column Roll</h5>
        <p>{{ column.roll }}</p>
      </div>
      <div class="col-md-4">
        <h5>Intake</h5>
        <p>{{ column.intake.name }}</p>
      </div>
    </div>
  {% endfor %}
  
  <h2 class="mt-4">Students</h2>
  {% for student in column.intake.student_set.all %}
    <div class="row mb-3">
      <div class="col-md-4">
        <h5>Roll Number</h5>
        <p>{{ student.roll_no }}</p>
      </div>
      <div class="col-md-4">
        <h5>Name</h5>
        <p>{{ student.name }}</p>
      </div>
    </div>
  {% endfor %}
  
</div>
{% endblock %}
