{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Rooms</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Room Number</th>
        <th scope="col">Number of Seats</th>

        <th scope="col">Number of col</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        <td>{{ room.number }}</td>
        <td>{{ room.num_seats}}</td>
        <td>{{room.num_columns}}</td>
        <td>
          <a href="{% url 'room_update' room.pk %}" class="btn btn-warning btn-sm">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- <a href="{% url 'room_create' %}" class="btn btn-primary">Add Room</a> -->
</div>
{% endblock %}
