{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">{% if form.instance.pk %}Update Room{% else %}Create Room{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 mb-3">
        {{ form.number.label_tag }} {{ form.number }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.num_seats.label_tag }} {{ form.num_seats }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.num_columns.label_tag }} {{ form.num_columns }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}
