{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">{% if form.instance.pk %}Update Room{% else %}Create Room{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.room_no.id_for_label }}">{{ form.room_no.label }}</label>
      {{ form.room_no }}
    </div>
    <div class="form-group">
      <label for="{{ form.number_of_seats.id_for_label }}">{{ form.number_of_seats.label }}</label>
      {{ form.number_of_seats }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}
